body.lux{
  background: linear-gradient(135deg,#000,#111);
  font-family: 'Segoe UI';
  color: gold;
}
.box{
  width:300px;
  margin:120px auto;
  padding:25px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius:15px;
  box-shadow:0 0 20px #000;
  text-align:center;
}
input,button{
  width:100%;
  margin:10px 0;
  padding:10px;
  border:none;
  border-radius:8px;
}
button{
  background:gold;
  cursor:pointer;
}
